body{
    color:#e6e6e6
}

form{
    height:80vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

div{
    background-color:white;
}


.background{

    display:flex;
    flex-direction: column;
    background-color:#f7d782;
    padding:20px;
    border-radius:5px;
}

h5{
    text-transform: uppercase;
}
