body{
   background:#f5f5f5;
   margin:0;
   padding:0;
}

.tableInv{
   margin:20px;
}

.mat-elevation-z8{
   width:90%;
   margin:auto;
}

td:hover{
   background:#f5f5f5;
}

.title{
   display:flex;
   width:100%;
   position:relative;
}


#add{
  position:absolute;
   right:0;
   margin-right:3.4rem;
   margin-top:20px;
}

#invtitle{
   position:absolute;
   left:0;
   margin-left:3.4rem;
   margin-top:20px;
}

button{
   margin:0 10px;
}

button:hover{
   color:red;
}

button:disabled{
   background:grey;
}

#table{
  margin-top:8rem;
}

#filter{
   position:absolute;
   right:4.5rem;
   z-index: 999;
   top:8rem;
   
}
