<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap"
  rel="stylesheet"
/>

<body>
  <div class="container">
    <!-- title -->
    <div class="title">
      <!-- logo -->
      <img src="https://i.ibb.co/v1fQ3JN/Whats-App-Image-2021-08-20-at-11-40-42-AM.jpg" alt="">
      
      <h1>
        UMP Supply Chain <br />
        Management System
      </h1>
    </div>

    <!-- registration -->
    <div class="registration">
      <!-- registration title -->
      <h3>Sign Up </h3>

      <!-- form -->
      <form [formGroup]="form1" (change)="checkform(form1)">

        <!-- registration email address -->
        <input
          class="icon-email"
          type="text" 
          placeholder="Email Address"
          formControlName="remail"
          required
        />

        <!-- registration email address errors message  -->
        <div class="error" *ngIf="e.touched && e.invalid">
          
          <i
              class="fas fa-exclamation-triangle"
              id="tooltip"
              *ngIf="e.errors.required"
              data-tooltip="Email Address is required."
            ></i>

            <i
            class="fas fa-exclamation-triangle"
            id="tooltip"
            *ngIf="e.errors.email"
            data-tooltip="Formatting of Email Address is invalid."
          ></i>
          
          
        </div>

        <!-- Check email address exist on firebase -->
        <div class="alert alert-danger" *ngIf="form1.errors?.emailExist">
          Email Address is existed.
        </div>

        <!-- registration password -->
        <div class="visible">
          <input
            [type]="visibility ? 'password' : 'text'"
            name="rpassword"
            placeholder="Password"
            required
            formControlName="rpassword"
            minlength="6"
            class="i"
          />

          <i
            class="far"
            [ngClass]="{ 'fa-eye': !visibility, 'fa-eye-slash': visibility }"
            (click)="onVisible()"
          ></i>
        </div>

        <!-- registration password error message -->
        <div class="error" *ngIf="p.touched && p.invalid">
          <i
          class="fas fa-exclamation-triangle"
          id="tooltip2"
          *ngIf="p.errors.required"
          data-tooltip=" Password is required."
        ></i>

        <i
        class="fas fa-exclamation-triangle"
        id="tooltip2"
        *ngIf="p.errors.minlength"
        data-tooltip=" Minimum Length must be at least mixed of 6 characters."
      ></i>
        </div>

        <!-- registration confirm password -->
        <div class="visible">
          <input
        [type]="visibility ? 'password' : 'text'"
          name="rconfirmpassword"
          placeholder="Confirm Password"
          required
          formControlName="rconfirmpassword"
          class="i"
        />

        <i
            class="far"
            [ngClass]="{ 'fa-eye': !visibility, 'fa-eye-slash': visibility }"
            (click)="onVisible()"
          ></i>
        </div>
        


        <div class="error" *ngIf="cp.touched && cp.invalid">
          <i
          class="fas fa-exclamation-triangle"
          id="tooltip2"
          *ngIf="cp.errors.required"
          data-tooltip=" Password is required."
        ></i>
        </div>

        <!-- check password matched or not-->
        <div
          class="error"
          *ngIf="form1.errors?.passwordVerification && cp.valid && p.valid"
        >
        <i
        class="fas fa-exclamation-triangle"
        id="tooltip2"
        data-tooltip=" Password is not matched."
      ></i>
        </div>

        <!-- name -->
        <input
          type="text"
          name=""
          placeholder="Name"
          formControlName="name"
          required
          appRegisterD
          class="i"
        />

        <!-- name verification error message -->
        <div class="error" *ngIf="name.touched && name.invalid">
          <i
              class="fas fa-exclamation-triangle"
              id="tooltip"
              *ngIf="name.errors.required"
              data-tooltip="Name is required."
            ></i>
        </div>

        <!-- phone number -->
        <input
          type="text"
          placeholder="Phone Number"
          formControlName="phonenumber"
          required
          class="i"
        />

        <!-- phone number verification error message -->
        <div class="error" *ngIf="pn.touched && pn.invalid">
          <i
              class="fas fa-exclamation-triangle"
              id="tooltip"
              *ngIf="pn.errors.required"
              data-tooltip="Phone Number is required."
            ></i>
        </div>

        <input
          type="date"
          placeholder="Date"
          formControlName="date"
          (change)="getDate($event)"
          required
          class="i"
        />

        <div *ngIf="d.touched && d.invalid">
          <div class="alert alert-danger" *ngIf="d.errors.required">
            Date of Birth is required.
          </div>
        </div>

        <select
          class="form-select"
          aria-label="Default select example"
          (change)="getGender($event)"
          formControlName="gender"
          required
        >
          <option selected>Gender</option>
          <option value="1">Male</option>
          <option value="2">Female</option>
        </select>

        <div *ngIf="g.touched && g.invalid">
          <div class="alert alert-danger" *ngIf="g.errors.required">
            Gender is required.
          </div>
        </div>

        <select
          class="form-select mt-2"
          aria-label="Default select example"
          (change)="getRole($event)"
          required
          formControlName="role"
        >
          <option>Role</option>
          <option value="1">Student</option>
          <option value="2">Supplier</option>
        </select>

        <div class="error" *ngIf="r.touched && r.invalid">
          <i
              class="fas fa-exclamation-triangle"
              id="tooltip"
              *ngIf="r.errors.role"
              data-tooltip="Role is required."
            ></i>
        </div>

        <!-- Supplier and Student Extra Validation Information -->
        <input
          *ngIf="student == true"
          type="text"
          placeholder="Matrix Card Number"
          formControlName="matrix"
          (change)="checkEmpty($event)"
          class="i"
        />

        <div class="error" *ngIf="matrix.touched && matrix.invalid">
          <i
              class="fas fa-exclamation-triangle"
              id="tooltip"
              *ngIf="matrix.errors.role"
              data-tooltip="Matrix Card is required."
              
            ></i>
        </div>

        <input
        *ngIf="supplier == true"
        type="text"
        placeholder="Company Name"
        formControlName="comp"
        (change)="checkEmpty($event)"
        class="i"
      /> 

        <!-- navigation -->
        <div class="special">
          <a routerLink="/" class="new-user">Already Registered? Login Now!</a>
        </div>


        
        <!-- sign up action -->
        <button  [disabled]="form1.invalid" (click)="submit()" >Sign Up</button>
      </form>
    </div>
  </div>

  <!-- background shape -->
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path
      fill="#f3f4f5"
      fill-opacity="1"
      d="M0,160L40,186.7C80,213,160,267,240,250.7C320,235,400,149,480,101.3C560,53,640,43,720,69.3C800,96,880,160,960,165.3C1040,171,1120,117,1200,85.3C1280,53,1360,43,1400,37.3L1440,32L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"
    ></path>
  </svg>
</body>
