<app-adminnavbarpage></app-adminnavbarpage>

<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="show()"></button>
            
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="products" [rows]="5" [paginator]="true" [globalFilterFields]="['productname','price','rating','inventoryStatus']" responsiveLayout="scroll"
        [(selection)]="selectedProducts" [rowHover]="true" dataKey="productname"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Manage Products</h5>
                <span class="p-input-icon-right">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
              
                <th pSortableColumn="productname">Name <p-sortIcon field="name"></p-sortIcon></th>
                <th>Image</th>
                <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
                <th pSortableColumn="category">Ingredient <p-sortIcon field="category"></p-sortIcon></th>
                <th pSortableColumn="rating">Reviews <p-sortIcon field="rating"></p-sortIcon></th>
                <th pSortableColumn="inventoryStatus">Status <p-sortIcon field="inventoryStatus"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-i='rowIndex'>
            <tr>
               
                <td>{{product.productname}}</td>
                <td><img [alt]="product.name" [src]="product.imageLink" width="100" class="p-shadow-4" /></td>
                <td>{{product.price | currency:'RM'}}</td>
                <td><ul class="list-group">
                    <li class="list-group-item" *ngFor="let x of product.ingredient">{{x.ingredient}} - {{x.ingredientQuantity}} unit</li>
                </ul></td>
                <td><p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating></td>
                <td ><span [class]="'product-badge '" [ngClass]="{'status-instock':true}">{{product.inventoryStatus}}asd</span></td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="show2(product,i)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(product.productname)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                In total there are {{products ? products.length : 0 }} products.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true" styleClass="p-fluid">
    <form action="">
        <div class="p-fluid">
            <div class="p-field">
                <label for="firstname1">Product Name</label>
                <input id="firstname1" type="text" pInputText  value={{products[indexOfElement]?.productname}} #p name="productname"> 
            </div>
            <div class="p-field">
                <label for="lastname1">Product Price</label>
                <input id="lastname1" type="text" pInputText value={{products[indexOfElement]?.price}} #pp name="productprice"> 
            </div>

            <div class="p-field">
                <label for="lastname1">Product Image Link</label>
                <input id="lastname1" type="text" pInputText value={{products[indexOfElement]?.imageLink}} #il name="productprice"> 
            </div>
    
            <div class="p-field" >
                <p>Image Preview</p>
                <img [src]="il.value" width="100"  alt="">
            </div>
     
     
            <div class="p-field">
                <label for="lastname1">Ingredient Name (Needed)</label>
                <input id="lastname1" type="text" pInputText #i> 
            </div>
    
            <div class="p-field">
                <label for="lastname1">Ingredient Quantity (Needed)</label>
                <input id="lastname1" type="text" pInputText #iq> 
            </div>
    
            <button mat-raised-button (click)="addNewIngredient(i,iq)">Add</button>
    
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let x of ingredient2;let i=index">{{x|json}} <button mat-raised-button (click)="delete(i)">Delete</button></li>
              </ul>
        </div>
    
        <button mat-raised-button (click)="update(p.value,pp.value,il.value)">Update</button>
    </form>
</p-dialog>



<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>