<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap"
  rel="stylesheet"
/>

<body>
  <div class="container">
    <div class="title">
      <img
      src="https://i.ibb.co/v1fQ3JN/Whats-App-Image-2021-08-20-at-11-40-42-AM.jpg"
      alt=""
    />
      <h1>
        UMP Supply Chain <br />
        Management System
      </h1>
    </div>

    <div class="forgotpassword">
      <h3>Forgot Password?</h3>

      <div
          class="alert alert-danger"
          *ngIf="form2.errors?.notfound == true"
      >
        Email Address is not registered.
      </div>

      <form action="" [formGroup]="form2">
        <div class="error">
          <input
            type="email"
            placeholder="Email Address"
            required
            formControlName="fpassword"
          />

          <div *ngIf="fp.touched && fp.invalid">
            <i
              class="fas fa-exclamation-triangle"
              id="tooltip"
              *ngIf="fp.errors.required"
              data-tooltip="Please enter your email address."
            ></i>

            <i
              class="fas fa-exclamation-triangle"
              id="tooltip"
              *ngIf="fp.errors.email"
              data-tooltip="Formatting of email address is invalid."
            ></i>
          </div>
        </div>

        <button [disabled]="form2.invalid" (click)="forgotPassword()">
          Reset Password
        </button>
        <div class="special">
          <a routerLink="/" href="">Back to Login?</a>
        </div>
      </form>
    </div>
  </div>

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path
      fill="#f3f4f5"
      fill-opacity="1"
      d="M0,160L40,186.7C80,213,160,267,240,250.7C320,235,400,149,480,101.3C560,53,640,43,720,69.3C800,96,880,160,960,165.3C1040,171,1120,117,1200,85.3C1280,53,1360,43,1400,37.3L1440,32L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"
    ></path>
  </svg>
</body>
