<app-adminnavbarpage></app-adminnavbarpage>


<p-tabView>
    <p-tabPanel header="To Pay">

        <p-accordion>
            <p-accordionTab header={{x.data.productname}} *ngFor="let x of toPay">
                <p>Company Name: {{x.data.compname}}</p>
                <p>Category: {{x.data.category}}</p>
                <p>Amount: {{x.data.amount}}</p>
                <p>Quantity: {{x.data.quantity}}</p>
                <p>Total:{{x.data.amount * x.data.quantity | currency:" MYR"}} </p>
                <p>Status: {{x.data.status}}</p>
                <button mat-raised-button (click)="pay(x.data.uid)">Pay Now</button> <button mat-raised-button (click)="delete(x.data.uid,x.id)">Cancel</button>
            </p-accordionTab>
           
        </p-accordion>
    </p-tabPanel>
    <p-tabPanel header="To Ship">

        <p-accordion>
            <p-accordionTab header={{x.data.productname}} *ngFor="let x of toShip">
                <p>Company Name: {{x.data.compname}}</p>
                <p>Category: {{x.data.category}}</p>
                <p>Amount: {{x.data.amount}}</p>
                <p>Quantity: {{x.data.quantity}}</p>
                <p>Total:{{x.data.amount * x.data.quantity | currency:" MYR"}} </p>
                <p>Status: {{x.data.status}}</p>
                <p>Order Time : {{x.data.ordertimestamp}}</p>
            </p-accordionTab>
           
        </p-accordion>
    </p-tabPanel>
    <p-tabPanel header="To Received">

        <p-accordion>
            <p-accordionTab header={{x.data.productname}} *ngFor="let x of toReceived">
                <p>Company Name: {{x.data.compname}}</p>
                <p>Category: {{x.data.category}}</p>
                <p>Amount: {{x.data.amount}}</p>
                <p>Quantity: {{x.data.quantity}}</p>
                <p>Total:{{x.data.amount * x.data.quantity | currency:" MYR"}} </p>
                <p>Status: {{x.data.status}}</p>
                <p>Order Time : {{x.data.ordertimestamp}}</p>
                <p *ngIf="x.data.preparetimestamp !== null">Prepare Time : {{x.data.preparetimestamp}}</p>
                <button mat-raised-button (click)="updateInfoInv(x)">Order Received</button>
            </p-accordionTab>
           
        </p-accordion>
    </p-tabPanel>

    <p-tabPanel header="Completed">

        <p-accordion>
            <p-accordionTab header={{x.data.productname}} *ngFor="let x of completed">
                <p>Company Name: {{x.data.compname}}</p>
                <p>Category: {{x.data.category}}</p>
                <p>Amount: {{x.data.amount}}</p>
                <p>Quantity: {{x.data.quantity}}</p>
                <p>Total:{{x.data.amount * x.data.quantity | currency:" MYR"}} </p>
                <p>Status: {{x.data.status}}</p>
                <p>Order Time : {{x.data.ordertimestamp}}</p>
                <p *ngIf="x.data.preparetimestamp !== null">Prepare Time : {{x.data.preparetimestamp}}</p>
                <p>Completed Time : {{x.data.completetimestamp}}</p>

                <button mat-raised-button *ngIf="x.data.ratingstatus == false" (click)="showBasicDialog(x)">Rating</button>
                </p-accordionTab>
        </p-accordion>
    </p-tabPanel>
</p-tabView>

<p-dialog header="Rate Product" [(visible)]="displayBasic" [style]="{width: '50vw'}">
    <p>Product Name: {{productInfo?.data?.productname}}</p>
    <p-rating [(ngModel)]="val2" [cancel]="false"></p-rating>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayBasic=false" label="Ok" styleClass="p-button-text" (click)="updateRating(productInfo)"></p-button>
    </ng-template>
</p-dialog>