

<app-suppliernavbarpage></app-suppliernavbarpage>

<div>
    <form action="" [formGroup]="updateProfile">
       
        <div class="background">
          <h5>My Profile - {{supplierInfo?.compname}}</h5>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Company Name</mat-label>
            <input matInput placeholder="Company Name" value={{supplierInfo?.compname}} formControlName="compname" #c>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Phone Number</mat-label>
            <input matInput placeholder="Phone Number" value={{supplierInfo?.phone}} formControlName="phone" #p>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Email Address</mat-label>
            <input matInput placeholder="Email" value={{supplierInfo?.email}} formControlName="email" #e>
          </mat-form-field>
   
       <button mat-raised-button (click)="update(c,p,e)">Update</button>
        </div>
        
    </form>
</div>

<p-toast></p-toast>