

form{
    height:80vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

div{
    background-color:white;

}

.background{

    display:flex;
    flex-direction: column;
    background-color:#84b0cf;
    padding:20px;
    border-radius:5px;
}

h5{
    text-transform: uppercase;
}