<body>
  <app-adminnavbarpage></app-adminnavbarpage>
  <div *ngIf="asS.isLoading | async" class="loader-container">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div class="form">
    <form action="" [formGroup]="form">
      <h5>Profile - {{ asS.name?.username }}</h5>
      <mat-form-field appearance="standard" id="">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" [ngModel]='asS.name?.username' value={{asS.name?.username}}/>
      </mat-form-field>
      <mat-form-field appearance="standard" id="">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" [ngModel]='asS.name?.email' value={{asS.name?.email}}>
      </mat-form-field>
      <mat-form-field appearance="standard" id="">
        <mat-label>Phone</mat-label>
        <input matInput formControlName="phone" [ngModel]='asS.name?.phone' value={{asS.name?.phone}}/>
      </mat-form-field>

      <button mat-raised-button (click)="update()" routerLink="/adminprofile">Update</button>
    </form>
  </div>
</body>
