<body>
  <app-adminnavbarpage></app-adminnavbarpage>
  <div>
  
    <form action="" [formGroup]="form">
      <div class="background">
        <h5>My Profile - {{adminInfo?.username}}</h5>

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>UMP Cafe Name</mat-label>
            <input matInput placeholder="Student Name" value={{adminInfo?.username}} formControlName="studname" #c>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Phone Number</mat-label>
            <input matInput placeholder="Phone Number" value={{adminInfo?.phone}} formControlName="phone" #p>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Email Address</mat-label>
            <input matInput placeholder="Email" value={{adminInfo?.email}} formControlName="email" #e>
          </mat-form-field>
   
       <button mat-raised-button (click)="update(c,p,e)">Update</button>
      </div>
        
    </form>
</div>

<p-toast></p-toast>
</body>
