/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons"); 
.icon-email.ng-touched.ng-pristine.ng-invalid{
    border:2px solid #ff465f;
}

.icon-password.ng-pristine.ng-invalid.ng-touched{
    border:2px solid #ff465f;
}

body{
    
    padding:0;
    margin:0;
    box-sizing: border-box;
    
}


html, body { height: 100%; }
body { margin: 0;  font-family: "Sora", sans-serif !important; }
