<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap"
  rel="stylesheet"
/>

<body>
  <div class="container">
    <!-- title -->
    <div class="title">
      <!-- logo -->
      <img
        src="https://i.ibb.co/v1fQ3JN/Whats-App-Image-2021-08-20-at-11-40-42-AM.jpg"
        alt=""
      />

      <h1>
        UMP Supply Chain <br />
        Management System
      </h1>

      
    </div>

    <!-- login -->
    <div class="login">
      <!-- login title -->
      <h3>User Login</h3>

     

      <!-- form -->
      <form [formGroup]="form">
        <!-- form verification errors message -->
        <div
          class="alert alert-danger"
          *ngIf="form.error?.emailVerify"
        >
          Please verify your email address.
        <a class="link" (click)="sendVerifyEmail()"> Click</a> Here to send the verification email again.
        </div>
        <div
          class="alert alert-danger"
          *ngIf="form.errors?.wrongpassword == true"
        >
          Your password is invalid.
        </div>
        <div
          class="alert alert-danger"
          *ngIf="form.errors?.notregister == true"
        >
          Your email address is not registered.
        </div>

        <!-- email address -->
        <div class="error">
          <input
            class="icon-email"
            type="email"
            style=""
            name="email"
            formControlName="email"
            placeholder="Email Address"
            [(ngModel)]="email"
            required
          />

          <!-- email address verification error message -->
          <div *ngIf="emailaddress.invalid && emailaddress.touched">
            <i
              class="fas fa-exclamation-triangle"
              id="tooltip"
              *ngIf="emailaddress.errors.required"
              data-tooltip=" Email Address is required."
            ></i>
            <i
              class="fas fa-exclamation-triangle"
              id="tooltip"
              *ngIf="emailaddress.errors.email"
              data-tooltip="  Formatting of Email Address
            is incorrect."
            ></i>
          </div>
        </div>

        <!-- password -->
        <div class="visible">
          <input
            class="icon-password"
            [type]="visibility ? 'password' : 'text'"
            name="password"
            placeholder="Password"
            formControlName="password"
            required
          />

          <i
            class="far"
            [ngClass]="{ 'fa-eye': !visibility, 'fa-eye-slash': visibility }"
            (click)="onVisible()"
          ></i>
        </div>

        <!-- password verification error message -->
        <div class="error" *ngIf="getpassword.touched && getpassword.invalid">
          <i
            class="fas fa-exclamation-triangle"
            id="tooltip2"
            *ngIf="getpassword.errors.required"
            data-tooltip=" Password is required."
          ></i>
        </div>

        <!-- navigation -->
        <div class="special">
          <a routerLink="/register" class="new-user">New User? Create one!</a>
          <a routerLink="/forgotpassword" class="forgot-password"
            >Forgot Password?</a
          >
        </div>

        <!-- button action -->
        <button [disabled]="form.invalid" (click)="login()">Login</button>
      </form>
    </div>
  </div>

  <!-- background shape -->
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path
      fill="#f3f4f5"
      fill-opacity="1"
      d="M0,160L40,186.7C80,213,160,267,240,250.7C320,235,400,149,480,101.3C560,53,640,43,720,69.3C800,96,880,160,960,165.3C1040,171,1120,117,1200,85.3C1280,53,1360,43,1400,37.3L1440,32L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"
    ></path>
  </svg>
</body>
