<app-student-navbar-page></app-student-navbar-page>


<div>
  <div class="container">
    <h4>Menu</h4>

    <button mat-raised-button (click)="toggle()">Ingredient Used Today</button>

    <button
    #menuTrigger="matMenuTrigger"
    (mouseenter)="menuTrigger.openMenu()"
    mat-button
    [matMenuTriggerFor]="menu"
    
  >
    <mat-icon
      matBadge="{{ info.length }}"
      matBadgePosition="after"
      matBadgeColor="accent"
      [ngStyle]="{'margin-left':'100px'}"
      >shopping_cart</mat-icon
    >
  </button>


  <mat-menu #menu="matMenu" [overlapTrigger]="false">
    <span (mouseleave)="menuTrigger.closeMenu()">
      <button mat-menu-item *ngFor="let row of info">
        {{ row.id }} ------> RM{{ row.data.data.data.price }}
      </button>
  
      <button *ngIf="info.length > 0" mat-raised-button routerLink="/studentcartpage">View Cart</button>
    </span>
  </mat-menu>
  </div>
  
  <div class="menu">
    <p-card *ngFor="let x of tiles2" header={{x.id}} subheader="RM {{x.data.price}}" [style]="{width: '360px'}" styleClass="p-card-shadow">
      <ng-template pTemplate="header" >
          <img alt="Card" [src]="x.data.imageLink">
      </ng-template>
      <ng-template pTemplate="footer">
          Ingredient Used:
        <ul>
          <li *ngFor="let x of x.data.ingredient">
            <p >{{x.ingredient}}</p>
          </li>
        </ul>
          <p-button label="Add to Cart" icon="pi pi-shopping-cart" (click)="addtocart(x)" ></p-button>
        
      </ng-template>
  </p-card>
  </div>

  <p-dialog header="Payment Info" [(visible)]="display" (onHide)="clearURL()">

    Thank you for your purchase. Please kindly wait for your food to serve soon.
</p-dialog>

  


<p-dialog header="Ingredient Used Today" [(visible)]="display2">
  <ul>
    <!--  { "category": "Egg", "id": "UMPSC22247652MY", "companyname": "Oscar Food Sdn Bhd", "productname": "Ramly", "time": "December 23rd 2021 , 1:47:54 pm - UMPSC22247652MY", "trackingAmount": "5" } } -->
    <li *ngFor="let x of trackingHistory">
      <p>Tracking Number: {{x.data.id}}</p>
      <p>Company Name: {{x.data.companyname}}</p>
      <p>Category: {{x.data.category}}</p>
      
    </li>
  </ul>
</p-dialog>

</div>
